<mat-card 
    class="asset-card" 
    [class.selected]=data.selected
    (click)=onSelect()>

    <mat-card-content>

        <div 
            fxLayout="row" 
            fxLayoutAlign="space-between center"
            fxFill>

            <div 
            fxLayout="column" 
            class="balance">
                <div class="content-title">Asset</div>
            </div>

            <div 
                fxLayout="column" 
                class="balance">
                <div class="content-title">Balance</div>
            </div>
        </div>

        <div 
            class="content-body" 
            fxLayout="row" 
            fxLayoutAlign="space-between center" 
            fxFill>

            <div fxLayout="column">
                <div class="asset-name">{{data.asset_name}}</div>
            </div>
            
            <div 
                fxLayout="column" 
                fxLayoutAlign="space-between end" 
                fxLayoutGap="5px">

                <div fxLayout="row" class="dollar-balance">
                    $ {{data.usd_balance}}
                </div>

                <div fxLayout="row" class="asset-balance">
                    {{data.asset_balance}} {{data.symbol}}
                </div>

            </div>
        </div>

    </mat-card-content>
</mat-card>
